<section class="about">
  <div>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere nihil recusandae nisi consequuntur vitae minima doloribus?
      Quia tenetur, cupiditate optio, nisi, obcaecati unde ipsa excepturi officia eum inventore explicabo quam!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere nihil recusandae nisi consequuntur vitae minima doloribus?
      Quia tenetur, cupiditate optio, nisi, obcaecati unde ipsa excepturi officia eum inventore explicabo quam!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere nihil recusandae nisi consequuntur vitae minima doloribus?
      Quia tenetur, cupiditate optio, nisi, obcaecati unde ipsa excepturi officia eum inventore explicabo quam!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere nihil recusandae nisi consequuntur vitae minima doloribus?
      Quia tenetur, cupiditate optio, nisi, obcaecati unde ipsa excepturi officia eum inventore explicabo quam!
    </p>
  </div>
</section>
