<section class="about">
  <div>
    <p>
      Soy un desarrollador web apasionado con un gran entusiasmo por el aprendizaje continuo y la colaboración.
    </p>
    <p>
      Me desarrollo en entornos de equipo y siempre estoy ansioso por ampliar mis habilidades. Con experiencia en el mantenimiento de aplicaciones de escritorio y un profundo amor por el desarrollo web,
      me concentro en crear soluciones eficientes e impactantes.
    </p>
    <p>
      Mi objetivo es contribuir a proyectos innovadores que marquen la diferencia.
    </p>
  </div>
</section>
