<section>
  <div class="project-list">
    <a href="https://example.com" class="project-card">
      <div class="project-image">
        <img src="../../../assets/images/projects/portfolio.png" alt="Project Image">
      </div>
      <div class="project-content">
        <span class="project-title">
          Portfolio
        </span>
        <p class="project-description">
          Este portafolio es una muestra de mi trabajo, construido con los fundamentos de HTML, CSS y JavaScript. Destaca tanto mis proyectos actuales como aquellos que planeo desarrollar en el futuro. Aquí mostraré mi progreso como desarrollador.
        </p>
      </div>
    </a>
  </div>
</section>
